@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ciudad Juarez, Chihuahua<br />
    Mexico, 6561017824<br />
    <abbr title="Phone">P:</abbr>
    6561017824
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:leidylaura_8@hotmail.com">leidylaura_8@hotmail.com</a><br />
   
</address>